# Database
DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=rentos

# JWT
JWT_SECRET=rentos-ciclo2-secret-key-2026
JWT_EXPIRATION=7d

# OpenAI
OPENAI_API_KEY=dummy_key

# Email
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=dummy@gmail.com
SMTP_PASSWORD=dummy-password

# App
PORT=3001
NODE_ENV=development
FRONTEND_URL=http://localhost:3000, https://rentos-alpha.vercel.app

# CORS
CORS_ORIGIN=http://localhost:3000, https://rentos-alpha.vercel.app